<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <form action="/madlib" method="POST">
        Person: <input type="text" name="person"><br>
        Color:
        <input type="checkbox" name="colors" value="red">Red</option>
        <input type="checkbox" name="colors" value="orange">Orange</option>
        <input type="checkbox" name="colors" value="yellow">Yellow</option>
        <input type="checkbox" name="colors" value="green">Green</option>
        <input type="checkbox" name="colors" value="blue">Blue</option>
        <input type="checkbox" name="colors" value="purple">Purple</option><br>
        Noun: <input text="text" name="noun"><br>
        Adjective:
        <input type="radio" name="adjective" value="fun">Fun
        <input type="radio" name="adjective" value="cruel">Cruel
        <input type="radio" name="adjective" value="beautiful">Beautiful
        <input type="radio" name="adjective" value="clever">Clever
        <input type="radio" name="adjective" value="interesting">Interesting<br>
        <input type="submit">
    </form>
</body>
</html>