<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <form action="/madlib">
        Person: <input type="text" name="person"><br>
        Color:
        <select name="color">
            <option value="red">Red</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="purple">Purple</option>
        </select><br>
        Noun: <input text="text" name="noun"><br>
        Adjective:
        <input type="radio" name="adjective" value="fun">Fun
        <input type="radio" name="adjective" value="cruel">Cruel
        <input type="radio" name="adjective" value="beautiful">Beautiful
        <input type="radio" name="adjective" value="clever">Clever
        <input type="radio" name="adjective" value="interesting">Interesting<br>
        <input type="submit">
    </form>
</body>
</html>