{% extends 'base.html' %}
{% block content %}
    There are many 
    <span class="colorword" >
        {{ adjective }}
    </span> ways to choose a 
    <span class="colorword" >
        {% if colors|length > 1 %}
            {% for color in colors[:-2] %} 
                {{ color }}, 
            {% endfor %} 
            {{ colors[-2] }} and 
        {% endif %}
        {{colors[-1]}} {{ noun }}
    </span> 
    to read. First, you could ask for recommendations from 
    <span class="colorword" >
        {{ person }}
    </span>.
{% endblock %}
